{% set blog_catalog_collection = true %}
{%- extends "page.html" %}

{% macro postlink(post) -%}
  {% if post.external_link -%}
    {{- post.external_link -}}
  {% else %}
    {{- pathto(post.docname) }}{{ anchor(post) -}}
  {%- endif %}
{%- endmacro %}

{% block body %}
<h1 class="ablog-compilation-heading">
{% if catalog|string == "tags" %}{{ gettext('Tags') }}{% else %}{{ gettext('Categories') }}{% endif %}
</h1>
{% include "taxonomy-index.html" %}
{% for collection in catalog %}
{% if collection %}
<div class="section ablog__catalog_header ablog-compilation">
  <h2 class="ablog-compilation-heading" id="{{ collection }}">
    {{ header }}
    <a href="{{ pathto(collection.docname) }}">{{ collection }}</a>
  </h2>
  <div class="blog-post-grid">
  {% for post in collection %}
  <div class="section ablog-post">
    <ul class="blog-pre-title">
      <li>
        {% if post.published %}
        <i class="fa-regular fa-calendar-days"></i>
        {{ post.date.strftime(ablog.post_date_format) }}
        {% else %}
        <i class="fa-solid fa-pencil"></i>
        {% if post.date %}
        {{ post.date.strftime(ablog.post_date_format) }}
        {% else %}
        Draft
        {% endif %}
        {% endif %}
      </li>
    </ul>
    <h3 class="ablog-post-title">
      <a href="{{ postlink(post) }}">{{ post.title }}</a>
    </h3>
    {{ post.to_html(collection.docname) }}
    <p class="ablog-post-expand"><a href="{{ postlink(post) }}"><em>{{ _("Read more ...") }}</em></a></p>
  </div>
  {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

{% block docs_toc %}
{% endblock docs_toc %}
