{% if post.author %}
<li id="ablog-sidebar-item author ablog__author">
  <span>
    <i class="fa-solid fa-user-pen"></i>
  </span>
  <label class="sr-only">{{ gettext('Author') }}</label>
  {% for coll in post.author %}
  {% if coll|length %}
  <a href="{{ pathto(coll.docname) }}">{{ coll }}</a>
  {% if loop.index < post.author|length %}
  ,
  {% endif %}
  {% else %}
  {{ coll }}
  {% if loop.index < post.author|length %}
  ,
  {% endif %}
  {% endif %}
  {% endfor %}
</li>
{% endif %}
{% if post.location %}
<li id="ablog-sidebar-item location ablog__location">
  <span>
    <i class="fa-solid fa-location-pin"></i>
  </span>
  <label class="sr-only">{{ gettext('Location') }}</label>
  {% for coll in post.location %}
  {% if coll|length %}
  <a href="{{ pathto(coll.docname) }}">{{ coll }}</a>
  {% if loop.index < post.location|length %}
  ,
  {% endif %}
  {% else %}
  {{ coll }}
  {% if loop.index < post.location|length %}
  ,
  {% endif %}
  {% endif %}
  {% endfor %}
</li>
{% endif %}
{% if post.category %}
<li id="ablog-sidebar-item category ablog__category">
  <span>
    <i class="fa-regular fa-folder-open"></i>
  </span>
  <label class="sr-only">{{ gettext('Category') }}</label>
  {% for coll in post.category %}
  {% if coll|length %}
  <a href="{{ pathto(coll.docname) }}">{{ coll }}</a>
  {% if loop.index < post.category|length %}
  ,
  {% endif %}
  {% else %}
  {{ coll }}
  {% if loop.index < post.category|length %}
  ,
  {% endif %}
  {% endif %}
  {% endfor %}
</li>
{% endif %}
{% if post.tags %}
<li id="ablog-sidebar-item tags ablog__tags">
  <span>
    <i class="fa-solid fa-tags"></i>
  </span>
  <label class="sr-only">{{ gettext('Tags') }}</label>
  {% for coll in post.tags %}
  {% if coll|length %}
  <a href="{{ pathto(coll.docname) }}">{{ coll }}</a>
  {% if loop.index < post.tags|length %}
  {% endif %}
  {% else %}
  {{ coll }}
  {% if loop.index < post.tags|length %}
  {% endif %}
  {% endif %}
  {% endfor %}
</li>
{% endif %}
